
@model List<ShoppingApplication.Models.Viewmodel.Order>
@{
    ViewBag.Title = "Delivery";
    Layout = "~/Views/Shared/_ShoppingLayout.cshtml";
}


<script src="~/Scripts/appsettings.js"></script>

<script>

    $(document).ready(function () {

    $('html').attr('lang', $('#hdnLang').val());
            $('html').attr('dir', $('#hdnDir').val());

        var loggedUserId = $('#appCurrentUserId').val();
        var loggedUserRole = $('#appCurrentUserRole').val();
        var apiUrl = appBaseUrl + "apiorder/delivery";        

        var data = {
            "userRole": loggedUserRole,
            "UserId": loggedUserId,
            "pageNumber": "1",
            "Status": ""
        };



        $('#pendpagingli').on('click', '.pgli', function () {
            bindData($(this).attr("pageNumber"), "pending", "#pendingitemtbody", "#pendpagingli", loggedUserId);
        });

        $('#pendingitemtbody').on('click', '.dataRow1', function () {
            // orderDetail(this);
        });


        function orderDetail(objdet) {

            console.log(objdet);

            var oId = $(objdet).attr("orderid");

            $.ajax({
                type: "GET",
                url: appBaseUrl + "/apiorder/getbyid/" + oId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {

                    var orderInfo = JSON.parse(response);
                    var delivery = orderInfo.delivery;
                    console.log(orderInfo);
                    var totalAmount = "";

                    console.log(orderInfo);
                    $("#divorderItem").empty();

                    $("#divorderItem").append("<h5 class='mb - 4'> Items</h5 ><hr/>");
                    $.each(orderInfo.orderItems, function (index, orderItm) {
                        console.log(orderItm.OrderId)

                        totalAmount = orderItm.TotalAmount;

                        var divData = "<div class='d-flex justify-content-between my-2 pb-3 border-bottom'> <div><strong>" + orderItm.Item + "</strong></div><div><strong>" + orderItm.Amount + "</strong></div>";
                        $("#divorderItem").append(divData);

                    });

                    $("#divOrderTotal").empty();
                    $('#divOrderTotal').append("<div><strong>Total</strong></div>   <div><strong>KWD " + totalAmount + "</strong></div>");


                    $("#divDelAddr").empty();
                    $('#divDelAddr').append(delivery.Address);


                    $("#divDelContact").empty();
                    $("#divDelContact").append("<div> " + delivery.ContactNumber + "</div><div></div>");


                    $('#divorderItem').show();
                    $('#divOrderTotal').show();
                    $('#divDelivery').show();

                },
                failure: function (response) {
                    alert(response.responseText);
                    alert("Failure");
                },
                error: function (response) {
                    alert(response);
                    alert("Error");
                }
            });
        }

        bindData(1, "pending", "#pendingitemtbody", "#pendpagingli", loggedUserId);

        function bindData(pgNm, sts, tbody, pagingli, loguserId) {

            $(tbody).empty();
            $(pagingli).empty();

            data = {
                "pageNumber": pgNm,
                "Status": sts,
                "UserId": loguserId
            };

            $.ajax({
                type: "POST",
                url: apiUrl,
                data: JSON.stringify(data),// now data come in this function
                contentType: "application/json; charset=utf-8",
                crossDomain: true,
                dataType: "json",
                success: function (data, status, jqXHR) {

                    var pageNumber = 0;
                    var rowsOfPage = 0;
                    var totalRows = 0;

                    //console.log("allorders");
                    console.log(data);

                    var allItemData = JSON.parse(data)

                    $(allItemData).each(function () {

                        totalRows = (this).totalRows;
                        rowsOfPage = (this).rowsOfPage;
                        pageNumber = (this).pageNumber;

                        var tr = "<tr class='dataRow1' orderid='" + (this).OrderId + "'>";
                        var td1 = "<td class='w-30'><div class='ms-4'><p class='text-xs font-weight-bold mb-0'>" + (this).EntryDate + "</p><h6 class='text-sm mb-0 text-danger'>" + (this).EntryTime + "</h6></div></td>";
                        var td2 = "<td><div class='text-center1'><p class='text-xs font-weight-bold mb-0'>#EWXGE123</p><h6 class='text-sm mb-0'>صالح</h6></div></td>";
                        var td3 = "<td><div class='d-flex px-2 py-1 align-items-center'><div><i class='fa fa-bus text - secondary'></i></div><div class='ms-4'><small class='text-seconda'>Delivery</small><p class='text-xs font-weight-bold mb-0'>" + (this).DeliveryPerson + "</p></div></div></td>";
                        var td4 = "<td class='align-middle text-sm'><div class='d-flex px-2 py-1 align-items-center'><div><i class='fa fa-money text-secondary'></i></div><div class='ms-4'><small class='text-seconda'>" + (this).PaymentType + "</small><p class='text-xs font-weight-bold mb-0'>" + (this).TPrice + "  KWD</p></div></div></td>";
                        var td5 = "<td class='w-30'><div class='text-center1'><p class='text-xs font-weight-bold mb-0 text-secondary'>Scheduled</p><h6 class='text-sm mb-0'>" + (this).ScheduleTime + " </h6></div></td>";
                        var td6 = "";

                        console.log(this);

                        if (((this).Status == "pending") && ((this).PickupTime !== "-")) {

                            td6 = "<td><input type='button' id='btnCancel' class='btn btn-primary btnresult' value='Cancel' orderid=" + (this).OrderId + " status='cancelled' />";
                            
                            td6 = td6 + "<input type='button' id='btnCompleted' class='btn btn-primary btnresult' value='Complete' orderid='" + (this).OrderId + "' status='completed'/></td></tr>";                            

                        }
                        else if ((this).Status == "pending" && (this).PickupTime === "-") {

                            td6 = td6 + "<td><input type='button' id='btnPickup' class='btn btn-primary btnresult' value='Pickup' orderid='" + (this).OrderId + "' status='Pickup'/></td></tr>";
                        }
                        else {

                            td6 = "<td><div class='text-center text-success'><span><i class='fa fa-circle fs-6'></i><small>" + (this).Status + " </small></span></div></td></tr>";
                        }

                        var rowData = (tr + td1 + td2 + td3 + td4 + td5 + td6);
                        $(tbody).append(rowData);

                    });

                    var modCount = 0;
                    if ((totalRows % rowsOfPage) > 0) {
                        modCount = 1;
                    }

                    var totalPageBtn = parseInt(totalRows / rowsOfPage) + modCount;

                    if (totalPageBtn > 1) {
                        for (var i = 0; i < totalPageBtn; i++) {

                            if (pgNm == (i + 1)) {
                                var li = "<li class='page-item pgli active' pageNumber='" + (i + 1) + "'><a class='page-link'>" + (i + 1) + "</a></li>";
                                $(pagingli).append(li);
                            }
                            else {
                                var li = "<li class='page-item pgli' pageNumber='" + (i + 1) + "'><a class='page-link'>" + (i + 1) + "</a></li>";
                                $(pagingli).append(li);
                            }
                        }
                    }
                },

                error: function (jqXHR, status) {
                    // error handler
                    console.log(jqXHR);
                    alert('fail' + status.code);
                }
            });
        }



        
            

        $('#pendingitemtbody').on('click', '.btnresult', function () {


            var apiUrl = appBaseUrl + "apiorder/updatestatus";
            var objOrderSts = {
                "OrderId": $(this).attr('orderid'),
                "Status": $(this).attr('status')
            };


            $.ajax({
                type: "POST",
                url: apiUrl,
                data: JSON.stringify(objOrderSts),
                contentType: "application/json; charset=utf-8",
                crossDomain: true,
                dataType: "json",
                success: function (data, status, jqXHR) {

                    window.location.href = "../Orders/Delivery";


                },

                error: function (jqXHR, status) {

                    console.log(jqXHR);
                    alert('fail' + status.code);
                }
            });



        });


    });



$(Document).ready(function () {

   

});



</script>

<div class="row mt-4" id="divPendingorder">
    <div class="col-12 mb-lg-0 mb-4">
        <div class="card">
            <div class="card-header pb-0 p-3">
                <div class="d-flex justify-content-between">
                    <h6 class="mb-2"></h6>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center">
                    <tbody id="pendingitemtbody">
                    </tbody>
                </table>
            </div>


            <div>
                <nav>
                    <ul id="pendpagingli" class="pagination justify-content-end pagination-warning">
                    </ul>
                </nav>
            </div>


        </div>
    </div>
</div>

@*@if (Model != null)
    {
        <div class="row mt-4" id="divPendingorder">
            <div class="col-12 mb-lg-0 mb-4">
                <div class="card">
                    <div class="card-header pb-0 p-3">
                        <div class="d-flex justify-content-between">
                            <h6 class="mb-2"></h6>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center">
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="dataRow" orderid="@item.OrderId ">
                                        <td class="w-30">
                                            <div class="ms-4">
                                                <p class="text-xs font-weight-bold mb-0">
                                                    @item.EntryDate
                                                </p>
                                                <h6 class="text-sm mb-0 text-danger">@item.EntryTime </h6>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-center1">
                                                <p class="text-xs font-weight-bold mb-0">#EWXGE123</p>
                                                <h6 class="text-sm mb-0">صالح</h6>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex px-2 py-1 align-items-center">
                                                <div>
                                                    <i class="fa fa-bus text-secondary"></i>
                                                </div>
                                                <div class="ms-4">
                                                    <small class="text-seconda">Delivery</small>
                                                    <p class="text-xs font-weight-bold mb-0">
                                                        Shuwaik - Mubarkal kaber
                                                    </p>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="align-middle text-sm">
                                            <div class="d-flex px-2 py-1 align-items-center">
                                                <div>
                                                    <i class="fa fa-money text-secondary"></i>
                                                </div>
                                                <div class="ms-4">
                                                    <small class="text-seconda">@item.PaymentType </small>
                                                    <p class="text-xs font-weight-bold mb-0">
                                                        @item.TPrice KWD
                                                    </p>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="w-30">
                                            <div class="text-center1">
                                                <p class="text-xs font-weight-bold mb-0 text-secondary">
                                                    Scheduled
                                                </p>
                                                <h6 class="text-sm mb-0">@item.ScheduleTime </h6>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-center text-success">
                                                <span>


                                                    @if (item.Status.ToLower() == "pending")
                                                    {


                                                        <input type="button" id="btnCancel" class="btn btn-primary btnresult" value="Cancel" orderid="@item.OrderId" status="cancelled" />


                                                        <input type="button" id="btnCompleted" class="btn btn-primary btnresult" value="Complete" orderid="@item.OrderId" status="completed" />

                                                    }
                                                    else
                                                    {
                                                        <i class="fa fa-circle fs-6"></i>
                                                        <small> @item.Status </small>

                                                    }
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }*@          